{
  "semi": false,
  "useTabs": false,
  "tabWidth": 2,
  "printWidth": 120,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "printWidth": 200,
        "tabWidth": 4,
        "useTabs": false,
        "singleQuote": false,
        "bracketSpacing": false,
        "explicitTypes": "preserve"
      }
    }
  ]
}
